@model z5_1.Models.Deklarka

@{
    ViewBag.Title = "Print";
}

<h2>View</h2>


<table>
    <tr>
        <td width="80"> Przedmiot: </td>
        <td width="60"> @Model.Class </td>
        <td width="120"> Imię i nazwisko: </td>
        <td width="120"> @Model.Name</td>
    </tr>

</table>
<table>
    <tr>
        <td width="60"> Zadanie: </td>
        @{
            for (int i = 0; i < Model.Points.Length; i++)
            {
                <td width="15">@(i+1)</td>
            }
        }
        <td width="40">Data: </td>
        <td width="80"> @Model.Date</td>
    </tr>
    <tr>
        <td width="60"> Punkty: </td>
        @{
            for (int i = 0; i < Model.Points.Length; i++)
            {
                <td width="20">@Model.Points[i]</td>
            }
        }
        <td width="40"> Suma: </td>
        <td width="60"> @Model.Points.Sum() </td>
    </tr>
</table>
    
